@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.App {
  background-color: #FFF3E0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-box {
  max-width: 480px;
  margin: 30px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.car-box .box-header {
  font-size: calc(10px + 2vmin);
  color: #282c34;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #e7e7e7;
  padding-left: 22px;
  padding-right: 22px;
}

.car-box .box-header .title {
  font-size: 1.7rem;
}

.car-box .box-header .btn {
  border: none;
  width: 115px;
  background-color: #212224;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
}

.car-box .box-header .btn.reset {
  text-transform: uppercase;
}

.car-box .box-body {
  background-color: #fff;
  padding: 5px 26px;
}

.car-box .box-body .list-car {
  padding: 0px;

}

.car-box .box-body .list-car .item {
  display: flex;
  align-items: center;
}

.car-box .box-body .list-car .item:not(:last-child) {
  border-bottom: 1px solid #ccc;

}

.car-box .box-body .list-car .item .car-name,
.car-box .box-body .list-car .item .car-id {
  color: #212224;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: middle;
  margin-left: 10px;
}

.car-box .box-body .list-car .item .car-id {
  margin-left: auto
}